$black: #333;
$darkGrey: #777;
$grey: #999;
$lightGrey: #ddd;
$lighterGrey: #e5e5e5;
$lightestGrey: #f9f9f9;
$white: #fff;

$red: #C44531;
$green: #008255;
$blue: #0D5490;
$darkBlue: #023966;

$pastelYellow: #FBF9DA;

$basicTimingFunction: cubic-bezier(0,0,0.3,1);
$bounceTimingFunction: cubic-bezier(.79,.27,.37,1.21);

$fontFamily: "Proxima Nova", "ProximaNova", "Interval Sans Pro", Arial, Helvetica, sans-serif;
$fontFamilyBasic: Arial, Helvetica, sans-serif;