.TickerItem {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: 50% 833%;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.TickerItem:first-child {
	animation-name: tickIn;
}

.TickerItem:first-child + .TickerItem {
	animation-name: tickOut;
}

.TickerItem + .TickerItem + .TickerItem {
	display: none;
}