.TickerItem {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: 50% 833%;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.TickerItem:first-child {
	animation-name: tickIn;
}

.TickerItem:first-child + .TickerItem {
	animation-name: tickOut;
}

.TickerItem + .TickerItem + .TickerItem {
	display: none;
}

.TickerItem::before {
	content: "";
	position: absolute;
	top: -1em;
	left: -1em;
	z-index: -1;
	border-left: 2em solid transparent;
	border-right: 2em solid transparent;
	border-top: 8em solid $white;
	width: 50%;
	height: 0;
}

.TickerItem--0::before {
	border-top-color: #CEDDE6;
}

.TickerItem--1::before {
	border-top-color: #D3E1F0;
}

.TickerItem--2::before {
	border-top-color: #DCE0E5;
}

// .TickerItem--men::before {
// 	border-top-color: #FFF7D6;
// }

// .TickerItem--women::before {
// 	border-top-color: #FFEDD6;
// }
