.QuizProgress {
	z-index: 1;
	background-color: #eee;
	color: $darkGrey;
	text-transform: uppercase;
	pointer-events: none;
}

.story.richtext .QuizProgress {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	height: 2.5em;
	line-height: 2.5em;
}

.article.section .QuizProgress {
	position: absolute;
	top: 10px;
	right: 0;
	border-radius: 5px;
	padding: 10px 0;
	width: 140px;
	text-align: center;
}

.article.section .is-above-top > .Quiz .QuizProgress {
	position: fixed;
	top: 10px;
	left: 50%;
	transform: translate(90px, 0);
}

@media (max-width: 999px) {
	.article.section .is-above-top > .Quiz .QuizProgress {
		display: none;
	}
}

.story.richtext .QuizProgress > * {
	position: absolute;
	top: 0;
}

.story.richtext .QuizProgress-score {
	left: 0.625em;
}

.QuizProgress > * > * {
	vertical-align: middle;
}

.QuizProgress-label {
	font-family: $fontFamilyBasic;
	font-size: 0.75em;
}

.QuizProgress-scoreValue {
	display: block;
	color: $darkBlue;
	font-size: 1.75em;
	font-weight: bold;
}

.story.richtext .QuizProgress-scoreValue {
	display: inline-block;
	width: 3.75em;
	height: 1.75em;
	font-size: 1.5em;
	letter-spacing: -0.05em;
	text-align: right;
}

.QuizProgress-scoreValueSplit {
	padding: 0 0.125em;
}

.story.richtext .QuizProgress-remaining {
	right: 0.625em;
}

.article.section .QuizProgress-remaining {
	text-transform: none;
}