.QuizQuestionSubmission {
	margin: 1em 0 0;
	text-align: center;
}

.QuizQuestion.is-revealed .QuizQuestionSubmission {
	display: none;
}

.QuizQuestionSubmission .Button {
	border-radius: 0.1875em;
	width: 8.5em;
	height: 2.285714286em;
	background-color: $blue;
	color: $white;
	font-size: 0.875em;
	line-height: 2.285714286em;
}