.Quiz {
	overflow: hidden;
	position: relative;
	min-height: 20em;
	font-size: 16px;
	font-size: 5vw;
	font-family: $fontFamily;
	line-height: 1.375;
	color: $black;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.story.richtext .Quiz {
	margin: 0 -10px;
	padding: 0 10px;
}

.article.section .Quiz {
	padding: 0 160px 0 0;
	width: 520px;
	font-size: 18px;
}